.card{
    margin-bottom: 2rem;
    &+.card{
        margin-left: 2rem;
    }
    &-header{
        display: flex;
        height: $header-height;
        padding: 0 1.25rem;
        align-items: center;
        color: $white;
    }
    &-footer{
        display: flex;
        border: 0;
        background: transparent;
    }
}
